body {
    background-image: linear-gradient(to bottom, #33ccff, #ff99cc, #FFFFff, #ff99cc, #33ccff);
    color: darkred;
    font-family: courier;
    text-align: center;
    width: 1000px;
    border: 30px;
    padding: 50px;
    margin: auto
}
